/* ======================================== */
/* ======== RED AND BLACK */

:root {
    /* main css */
    --app-background: #262931;
    --app-text: white;

    /* widgets color text */
    --time-text: lightblue;
    --date-text: white;
    --weather-text: white;
    --welcome-text: white;
    --name-text: white;

    /* settings color text */
    --settings-text: white;
    --settings-background: black;
    --settings-title-border: lightblue;

    /* footer color text */
    --footer-text: white;
    --footer-link: lightblue;

    /*  buttons style */
    --button-text: black;
    --button-text-hover: white;
    --button-background: white;
    --button-background-hover: lightblue;

    /* input style */
    --label-text: white;
    --input-text: black;
    --input-border: black;
    --input-file-text: white;
    --input-file-border: white;

    /* uncategorized */
    --transparency: rgba(0,0,0,0.5);
    --error-text: red;
}

/* ======================================== */
/* ======== WIDGETS */

#welcomeContainer {
    position: absolute;
    top: 2vh;
    left: 1.5vw;
}

#dateTimeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#displayTime {
    font-size: 8em;
    color: var(--time-text);
}

#displayWelcome {
    font-size: 2em;
    color: var(--welcome-text);
}

#displayName {
    font-weight: 700;
    color: var(--name-text);
}

#displayDate {
    font-size: 2em;
    color: var(--date-text);
}

#displayWeather {
    font-size: 2.5em;
    color: var(--weather-text);
}

@media(max-width:1024px) {
    #app {
        padding: 3vh 2vw;
    }

    #displayTime {
        font-size: 2em;
    }

    #displayDate {
        font-size: 1.5em;
    }

    #displayWelcome,
    #displayWeather {
        font-size: 1.3em;
    }
}