/* ======================================== */
/* ======================================== */
/* ======== MAIN */

@font-face {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/montserrat.woff2') format('woff2'), url('../fonts/montserrat.woff') format('woff');
    font-display: swap;
}

html,
body {
    margin: 0;
    overflow: hidden;
    font-family: montserrat, sans-serif;
    color: var(--mainText);
    background-color: var(--background);
}

p {
    margin: 0;
}

#container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

/* ======================================== */
/* ======================================== */
/* ======== START */

#start {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    font-size: 1.4em;
}

#start h1 {
    margin: 0;
    color: var(--startTitle);
}

#startP1,
#startP2 {
    margin: 1vh 0;
}

#startP3 {
    margin: 2.5vh 0;
}

/* ======================================== */
/* ======================================== */
/* ======== TASKBAR */

#topTaskbar {
    display: flex;
    position: absolute;
    top: 1vh;
    left: 1vw;
    align-items: center;
    width: 98vw;
}

#leftTaskbar {
    display: flex;
    align-items: center;
}

#topTaskbar p {
    margin: 0;
    margin-right: 2vw;
}

#blankTaskbar {
    flex-grow: 1;
}

/* ======================================== */
/* ======================================== */
/* ======== APP */

#app {
    display: none;
    width: 100vw;
    padding: 2vh;
    background-image: var(--bgPath);

}

#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}

#displayName {
    color: var(--nameText);
}

#displayTime {
    text-align: center;
    font-size: 2em;
    color: var(--timeText);
}

#displayDate {
    text-align: center;
    font-size: 2em;
}

#displayWeather {
    font-size: 2em;
}

/* ======================================== */
/* ======================================== */
/* ======== MENU */

#displaySettings,
#closeSettings {
    margin: 0 !important;
    border: 0;
    font-size: 2em;
    background-color: transparent;
    cursor: pointer;
}

#closeSettings {
    position: absolute;
    top: 1vh;
    right: 1vw;
}

#displaySettings {
    color: var(--settingsText);
    opacity: 0.2;
}

#displaySettings:hover {
    opacity: 1;
}

#listSettings h1 {
    margin: 4vh 0 0.5vh 0.5vw;
    border-bottom: 2px solid var(--settingsTitleBorder);
    color: var(--settingsTitle);
}

#closeSettings,
#closeSettings:hover {
    background-color: transparent !important;
}

#blankPage {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--transparent);
}

#blankSettings {
    flex-grow: 1;
}

#listSettings {
    display: none;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    padding: 2vh;
    min-height: 96vh;
    min-width: 20vw;
    background-color: var(--settingsBackground);
}

#footer {
    padding-top: 1vh;
    text-align: center;
    font-size: 0.9em;
    color: var(--footerText);
}

#footer a {
    text-decoration: transparent;
    color: var(--footerLink);
}

#footer a:hover {
    text-decoration: underline;
}

/* ======================================== */
/* ======================================== */
/* ======== BUTTONS */

button {
    font-family: inherit;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

.button {
    margin: 1vh;
    padding: 1vh;
    border: 2px solid transparent;
    border-radius: 10px;
    text-align: left;
    background-color: var(--button1);
}

.buttonSpecial {
    margin: 0 auto;
    min-width: 20vw;
    text-align: center;
}

.button:hover {
    color: var(--button1);
    background-color: var(--button2);
}

.buttonLine {
    width: auto;
    margin: 1vh;
    padding: 1vh;
    border: 0;
    border-bottom: 2px solid var(--button1);
    color: var(--button1);
    background-color: transparent;
}

.buttonLine:hover {
    border-bottom: 2px solid var(--button2);
}

/* ======================================== */
/* ======================================== */
/* ======== FORM */

label {
    display: block;
    padding: 1vh;
    font-size: 1em;
    font-weight: bold;
    color: var(--labelText);
}

input {
    width: 90%;
    padding: 1vh;
    border: 2px solid var(--inputBorder);
    border-radius: 10px;
    font-family: inherit;
    font-size: 1.1em;
    color: var(--inputText);
}

input[type=file] {
    margin-bottom: 2vh;
    border: 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 0;
    color: var(--inputFileText);
}

/* ======================================== */
/* ======================================== */
/* ======== MOBILE */

@media(max-width:1024px) {
    input:focus,
    input.active,
    button:focus,
    button:active {
        outline: none !important;
    }

    #start {
        width: 85vw;
        padding-bottom: 4vh;
        font-size: 1em;
    }

    #start button {
        min-width: 75vw;
    }

    #topTaskbar p {
        margin-right: 10vw;
        font-size: 2em;
    }

    #app {
        width: 90vw;
    }

    #displayDate {
        display: none;
    }

    #displayWelcome {
        text-align: center;
    }

    #listSettings {
        width: 92vw;
        font-size: 0.8em;
    }

    #blankSettings {
        flex-grow: 0;
        height: 5vh;
    }
}

/* ======================================== */
/* ======================================== */
/* ======== ANIMATION from animate.style */

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%,0,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}