/* ======================================== */
/* ======================================== */
/* ======== MAIN */

:root {
    --notTransparent: black;
    --semiTransparent : rgba(0,0,0,0.4);
    --almostTransparent : rgba(0,0,0,.7);
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat.woff2') format('woff2'),
           url('../fonts/montserrat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: montserrat, sans-serif !important;
    color: var(--mainTextColor);
    background-color: var(--background);
}

button,
textarea {
    font-family: montserrat, sans-serif !important;
}

#container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

/* ======================================== */
/* ======================================== */
/* ======== APP START */

#start {
    display: none;
    justify-content: center;
    flex-direction: column;
    font-size: 1.4em;
    width: 40vw;
}

#start input {
    border-radius: 10px;
    padding: 1.5vh;
    font-size: 1.2em;
    margin: 2vh;
    color: var(--startInputColor);
    border: 2px solid var(--startInputBorder);
}

#start button {
    border: 0;
    border-radius: 5px;
    padding: 1vh;
    font-size: 1.2em;
    margin: 1vh auto;
    width: 20vw;
    cursor: pointer;
    color: var(--startButtonColor1);
    background-color: var(--startButtonColor2);
}

#start button:hover {
    color: var(--startButtonColor2);
    background-color: var(--startButtonColor3);
}

/* ======================================== */
/* ======================================== */
/* ======== APP CONTENT */

#app {
    display: none;
    flex-direction: column;
    font-size: 1.4em;
    width: 100vw;
    padding: 5vh;
}

#footer {
    padding-top: 1vh;
    font-size: 0.6em;
    text-align: center;
    color: var(--footerTextColor);
}

#footer a {
    text-decoration: transparent;
    color: var(--footerLinkColor);
}

#footer a:hover {
    text-decoration: underline;
}

#time {
    flex-grow: 1;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
}

#displayWeather {
    margin: 0;
    position: absolute;
    top: 1.5vh;
    left: 1vw;
    font-size: 1.5em;
}

#displayName,
#displayTime,
#displayDate {
    margin: 0;
}

#displayTime {
    text-align: center;
    font-size: 2em;
    padding-bottom: 1vh;
    border-bottom: 3px solid var(--timeBorder);
}

#displayDate {
    padding: 2vh;
    font-size: 1em;
    text-align: center;
}

/* ======================================== */
/* ======================================== */
/* ======== LISTS */

#displaySettings,
#closeSettings {
    position: absolute;
    top: 1.5vh;
    right: 1vw;
    background-color: transparent;
    border: 0;
    margin: 0 !important;
    font-size: 1.5em;
    cursor: pointer;
}

#displaySettings {
    opacity: 0.2;
    color: var(--settingsTextColor);
}

#displaySettings:hover {
    opacity: 1;
}

#voidList {
    display: none;
    position: absolute;
    background: var(--semiTransparent);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#listSettings {
    display: none;
    flex-direction: column;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 96vh;
    min-width: 20vw;
    padding: 2vh;
    z-index: 2;
    background-color: var(--settingsBackground);
}

#listSettings h1 {
    margin-top: 6vh;
    text-align: center;
    color: var(--settingsTitleColor);
}

#listSettings button {
    cursor: pointer;
    border: 2px solid transparent;
    padding: 1vh;
    border-radius: 10px;
    margin: 1vh;
    font-size: 0.9em;
    text-align: left;
    transition: 0.3s;
    background-color: var(--settingsButtonColor1);
}

#listSettings button:hover {
    transition: 0.3s;
    background-color: var(--settingsButtonColor2);
}

#closeSettings,
#closeSettings:hover {
    background-color: transparent !important;
}

#voidSettings {
    flex-grow: 1;
}

/* ======================================== */
/* ======================================== */
/* ======== POPUP CONTAINER */

#containerPopup {
    display: none;
    background-color: var(--almostTransparent);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

#containerPopup:target {
    display: block;
}

#containerPopup div {
    background: var(--popupBackground);
    color: var(--popupTextColor);
}

#importMenu,
#logoutMenu,
#profilMenu,
#weatherMenu,
#exportMenu {
    display: none;
    padding: 2vh;
    position: relative;
    width: 40vw;
    border-radius: 3px;
    margin: auto auto;
}

/* ======================================== */
/* ======================================== */
/* ======== POPUP STYLE */

#containerPopup h1 {
    font-size: 3em;
    text-align: center;
    margin: 0 0 2vh 0;
    border-bottom: 2px solid var(--popupTitleBorder);
}

#containerPopup .formContainer {
    display: flex;
    flex-direction: column;
}

#containerPopup .formLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#containerPopup label {
    font-weight: bold;
    padding: 1.5vh;
    font-size: 1.5em;
}

#containerPopup input {
    border-radius: 10px;
    padding: 1.5vh;
    font-size: 1.1em;
    min-width: 25vw;
    color: var(--popupInputColor);
    border: 2px solid var(--popupInputBorder);
}

#containerPopup input[type=file] {
    border: 0;
    color: var(--popupInputFile);
}

#containerPopup .formButtons {
    display: flex;
    justify-content: center;
}

#containerPopup button {
    background-color: transparent;
    border: 0;
    padding: 1vh;
    font-size: 1.2em;
    margin: 1vh;
    width: auto;
    color: var(--popupButtonColor1);
    border-bottom: 2px solid var(--popupButtonColor2);
}

#containerPopup button:hover {
    border-bottom: 2px solid var(--popupButtonColor3);
}

#importMenuCheck,
#profilMenuCheck,
#weatherMenuCheck {
    text-align: center;
}

#exportMenuContent,
#logoutMenuText {
    text-align: justify;
}

/* ======================================== */
/* ======================================== */
/* ======== MOBILE */

@media(max-width: 1024px) {
    input:focus,
    input.active,
    button:focus,
    button:active,
    textarea:focus,
    textarea:active {
        outline: none !important;
    }

    #start {
        width: 85vw;
        padding-bottom: 4vh;
    }

    #start button {
        min-width: 75vw;
    }

    #content p {
        text-align: center !important;
    }

    #app {
        width: 90vw;
    }

    #displayWeather {
        top: 2.5vh;
        left: 3vw;
        font-size: 1.35em;
    }

    #listSettings {
        width: 92vw;
    }

    #voidSettings {
        flex-grow: 0;
        height: 5vh;
    }

    #initMenu,
    #importMenu,
    #logoutMenu,
    #profilMenu,
    #weatherMenu,
    #exportMenu {
        padding: 2vh;
        width: 96vw;
        border-radius: 0px;
        margin: auto auto;
    }

    #containerPopup {
        background-color: var(--notTransparent);
    }

    #containerPopup .formLine {
        flex-direction: column;
    }

    #containerPopup input[type=text],
    #containerPopup input[type=url],
    #containerPopup input[type=file] {
        width: 50vw;
    }
}

/* ======================================== */
/* ======================================== */
/* ======== ANIMATION from animate.style */

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}