/* ======================================== */
/* ======================================== */
/* ======== CUSTOM THEME */

:root {
    /* MAIN */
    --bodyBackground: #262931;
    --bodyText: white;

    /* UNCATEGORIZED */
    --transparent: rgba(0,0,0,0.4);
    --errorText: red;

    /* START */
    --startTitle: #2c3968;

    /* APPLICATION */
    --footerText: white;
    --footerLink: #2c3968;
    --timeText: #2c3968;
    
    /* SETTINGS */
    --settingsText: white;
    --settingsBackground: black;
    --settingsTitle: white;
    --settingsTitleBorder: #2c3968;

    /*  BUTTONS */
    --button1: white;
    --button2: #2c3968;

    /* INPUT */
    --labelText: white;
    --inputText: black;
    --inputBorder: black;
    --inputFileText: white;
}