/* ======================================== */
/* ======================================== */
/* ======== MAIN */

html,
body {
    color: black;
    background-color: #F8F8F8;
}

/* ======================================== */
/* ======================================== */
/* ======== APP START */

#start input {
    color: black;
    border: 2px solid white;
}

#start button {
    color: black;
    background-color: white;
}

#start button:hover {
    background-color: lightblue;
    color: white;
}

/* ======================================== */
/* ======================================== */
/* ======== APP CONTENT */

#footer {
    color: white;
}

#footer a {
    color: var(--dark_blue);
}

#displayTime {
    border-bottom: 3px solid var(--dark_blue);
}

#displaySettings {
    color: white;
}

#listSettings {
    background-color: var(--light_black);
}

#listSettings h1 {
    color: white;
}

#listSettings button {
    background-color: white;
}

#listSettings button:hover {
    background-color: var(--dark_blue);
}

#closeSettings,
#closeSettings:hover {
    background-color: transparent !important;
}

/* ======================================== */
/* ======================================== */
/* ======== POPUP CONTAINER */

#containerPopup {
    background-color: rgba(0,0,0,0.95);
}
#containerPopup div {
    background: var(--light_black);
    color: white;
}

/* ======================================== */
/* ======================================== */
/* ======== POPUP STYLE */

#containerPopup h1 {
    border-bottom: 2px solid white;
}

#containerPopup button {
    color: white;
    border-bottom: 2px solid white;
}

#containerPopup button:hover {
    border-bottom: 2px solid var(--dark_blue);
}

#containerPopup input {
    color: black;
    border: 2px solid black;
}

#containerPopup input[type=file] {
    color: white;
}