/* ======================================== */
/* ======================================== */
/* ======== CUSTOM THEME */

:root {
    /* MAIN */
    --transparent: rgba(0,0,0,0.4);
    --background: #5D8AA8;
    --mainText: white;
    --errorText: #2c3968;

    /* APP */
    --startTitle: #2c3968;
    --footerText: white;
    --footerLink: white;
    --timeText: #2c3968;
    --nameText: #2c3968;
    
    /* SETTINGS */
    --settingsText: white;
    --settingsBackground: black;
    --settingsTitle: white;
    --settingsTitleBorder: #2c3968;

    /*  BUTTONS */
    --button1: white;
    --button2: #2c3968;

    /* INPUT */
    --labelText: white;
    --inputText: black;
    --inputBorder: black;
    --inputFileText: white;
}