/* ======================================== */
/* ======================================== */
/* ======== DARK THEME */

:root {
    /* MAIN */
    --background : #262931;
    --mainTextColor : white;

    /* APP START */
    --startInputColor : black;
    --startInputBorder : white;
    --startButtonColor1 : black;
    --startButtonColor2 : white;
    --startButtonColor3 : lightcoral;

    /* APP CONTENT */
    --footerTextColor : white;
    --footerLinkColor : lightcoral;
    --timeBorder : lightcoral;
    --settingsTextColor : white;
    --settingsBackground: black;
    --settingsTitleColor : white;
    --settingsButtonColor1 : white;
    --settingsButtonColor2 : lightcoral;

    /* POPUP */
    --popupBackground : #262931;
    --popupTextColor : white;
    --popupTitleBorder : white;
    --popupButtonColor1 : white;
    --popupButtonColor2 : white;
    --popupButtonColor3 : red;
    --popupInputColor : black;
    --popupInputBorder : black;
    --popupInputFile : white;
    --popupErrorColor : red;
}